[submodule "ros_astra_camera"]
	path = ros_astra_camera
	url = https://github.com/orbbec/ros_astra_camera

[submodule "ros_astra_launch"]
	path = ros_astra_launch
	url = https://github.com/orbbec/ros_astra_launch
