<?xml version="1.0"?>
<launch>

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find butler5)/urdf/butler5.urdf.xacro'" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butler_description)/launch/display.launch"/>

</launch>

